*{
    margin: 0;
    padding: 0;
    
}
body{
  display: grid;
  justify-content: center;
    
    
}

h1, h2, h3, h4{
  font-family: 'Cuprum', sans-serif;
}
p{
  font-size: 12px;
  margin: 5px;
  text-align: justify;
  left: -10px ;
}
.animation{
    background-color: #79a7d3;
    overflow: hidden;
    border-radius: 15px;
    max-width: 650px;
    max-height: 500px;
    
    

}
.einn{
    position: relative;
    left: 300px;
    bottom: 100px;
    animation-name: les;
    animation-duration: 7s;
    animation-timing-function: ease-in, ease-in-out;

}
@keyframes les {

  from {
    top: -50px;
    animation-timing-function: ease-out;
  }

  25% {
    top: 50px;
    animation-timing-function: ease-in;
  }

  50% {
    top: 50px;
    animation-timing-function: ease-out;
  }

  75% {
    top: -75px;
    animation-timing-function: ease-in;
  }

  to {
    top: -200px;
    
  }

}
.tveir{
  position: relative;
  right: 400px;
  animation-name: len;
  animation-delay: 5.5s;
  animation-duration: 7s;
  animation-timing-function: ease-in, ease-in-out;

}
@keyframes len {

  from {
    right: 300px;
    animation-timing-function: ease-out;
  }

  25% {
    right: -50px;
    animation-timing-function: ease-in;
  }

  50% {
    right: -50px;
    animation-timing-function: ease-out;
  }

  75% {
    right: -200px;
    animation-timing-function: ease-in;
  }
  85% {
    right: -200px;
    animation-timing-function: ease-in;
  }

  90% {
    right: -700px;
    animation-timing-function: ease-in;
  }

  to {
    right: -700px;
  }

}


.fyrst{
    position: relative;
    left: -450px;
    bottom: 55px;
    animation-name: boks;
    animation-duration: 7s;
    animation-timing-function: ease-in, ease-in-out;
    
}
@keyframes boks {

  from {
    left: 400px;
    animation-timing-function: ease-out;
  }

  25% {
    left: 10px;
    animation-timing-function: ease-in;
  }

  50% {
    left: 10px;
    animation-timing-function: ease-out;
  }

  75% {
    left: 10px;
    animation-timing-function: ease-in;
  }

  to {
    left: -400px;
  }

}
@keyframes boks {

    from {
      left: 400px;
      animation-timing-function: ease-out;
    }
  
    25% {
      left: 10px;
      animation-timing-function: ease-in;
    }
  
    50% {
      left: 10px;
      animation-timing-function: ease-out;
    }
  
    75% {
      left: 10px;
      animation-timing-function: ease-in;
    }
  
    to {
      left: -400px;
    }
  
  }

.annar{
    position: relative;
    left: 500px;
    bottom: 50px;
    animation-name: vinna;
    animation-delay: 8s;
    animation-duration: 10s;
    animation-timing-function: step-start;
}

@keyframes vinna {
    from {
      left: 300px;
      animation-timing-function: ease-out;
      transform: scale(1);
      
    }
  
    23% {
      left: 10px;
      animation-timing-function: ease-in;
      transform: scale(1);
      
    }
  
    30% {
      left: 10px;
      animation-timing-function: ease-out;
      transform: scale(1); 
      
    }

    33% {
      left: 10px;
      animation-timing-function: ease-out;
      
      transform: scale(1.12);
    }

    36% {
      left: 10px;
      animation-timing-function: ease-out;
      
      transform: scale(1.1);
    }

    75% {
      left: 10px;
      animation-timing-function: ease-in;
      
      transform: scale(1.1);
    }
  
    to {
      left: 370px;
      transform: scale(1.1);
    }
  
  }
    
.triman{
  position: relative;
  bottom: -50px;
  left: -180px;
  animation: man; 
  animation-delay: 6.5s;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
}

@keyframes man {

  from {
    bottom: -50px;
    animation-timing-function: ease-out;
  }

  12% {
    bottom: 315px;
    animation-timing-function: ease-in;
  }

  50% {
    bottom: 315px;
    animation-timing-function: ease-out;
  }

  90% {
    bottom: 315px;
    animation-timing-function: ease-in;
  }

  to {
    bottom: -70px;
  }

}

.thrir{
  position: relative;
  left: 200px;
  animation-name: trib;
  animation-duration: 13s;
  animation-timing-function: ease-in, ease-in-out;
  opacity: 0%;

}
@keyframes trib {
  
 0% { opacity:0; }
 80% { opacity:0; }
 95% { opacity:1; }
 100% { opacity:0; }


}

.four{
  position: relative;
  left: 220px;
  bottom: 10px;
  animation-name: fjor;
  animation-delay: 8s;
  animation-duration: 8s;
  animation-timing-function: ease-in, ease-in-out;
  opacity: 0%;
}

@keyframes fjor{
  0% { opacity:0;
   color: black; }
 50% { opacity:0; 
   color: black; }
 75% { opacity:1;
   color: #fff; }
 100% { opacity:1; 
   color: #fff; }

}
.stori{
  animation: ease-in-out;
  animation-name: ipad;
  animation-delay: 8s;
  animation-duration: 10s;
  
}

@keyframes ipad {
 0% { fill: #fff;}
 53% { fill: #fff;}
 57% { fill: black;}
 100% { fill: black;}

  
}

.litli{
  animation: ease-in-out;
  animation-name: iphone;
  animation-delay: 8s;
  animation-duration: 10s;
  
}

@keyframes iphone {
 0% { fill: #fff;}
 53% { fill: #fff;}
 57% { fill: black;}
 100% { fill: black;}

  
}


